body {
    margin: 0 0;    
    padding: 0;
    background-color: rgb(255, 255, 255);
    /* background-image: url(images/17545.jpg);
    background-repeat: no-repeat; */
    /* background-position: right; */
}

/* Navbar style */
nav {
    /* background-color: #87cefa; */
    background-image: linear-gradient(85deg, #ffc9ff 0, #ffc0ff 12.5%, #ffb6ff 25%, #ffabff 37.5%, #f29df2 50%, #cd8fdf 62.5%, #ad83cd 75%, #9278bc 87.5%, #7a6fae 100%);
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vw;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li :hover {
    color: #ff4500;
}

nav ul li img {
    margin-top: 5px;
    width: 45px;
}

.nav-left {
    flex: 50%;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a {
    background-color: rgb(12, 12, 12);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Share Tech Mono',monospace;
}

.nav-right a:hover {
    background-color: #f52f07;
}
/* ===End Navbar style=== */

/* ===Home style=== */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.container {
    width: 1200px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 8px 8px 20px black,8px 8px 15px black;
    border-radius: 10px;
    background-color: white;
}

.container .main-left {
    padding: 45px 35px 0 75px;
    text-align: justify;
    flex: 70%;
}

.card-1 h1 {
    display: block;
    font-size: 1.5em;
    font-family: 'nunito';
    font-weight: bold;
}

.card-1 p {
    display: block;
    font-family: 'poppins';
}

.card-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 15px 50px 0px;
}

.card-2 .btn-contact a {
    margin: 0px 15px 25px 0px;
    padding: 5px 30px 5px 30px;
    border-radius: 50px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: 'poppins';
}

.card-2 .btn-contact a:hover {
    background-color: #ff4500;
    box-shadow: 5px 5px 10px #ff4500;
}

.card-2 .btn-download {
    margin-left: 25px;
}

.card-2 .btn-download a {
    font-family: 'poppins';
    text-decoration: none;
    color: #000000;
}

.card-2 .btn-download a:hover {
    color: #ff4500;
}

.social-media {
    margin-top: 80px;
    font-size: 3em;
}

.social-media a {
    margin-right: 15px;
    color: #000000;
}

.social-media a:hover {
    color: #ff4500;
}

.main-right {
    width: 300px;
    margin: 50px 50px 50px 50px;
    flex: 30%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 20px black;
}

.main-right img {
    width: 300px;
    height: 350px;
    border-radius: 5px 5px 0px 0px;
}

.main-right h3 {
    margin: 5px;
    font-family: 'poppins';
}
/* ===End Home Style=== */

/* ===Contact Style===*/
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .form {
    width: 500px;
}

.content .form h1 {
    text-align: center;
    font-family: 'nunito';
    display: block;
}

.form {
    /* background-color: #ffffff; */
    background-image: linear-gradient(85deg, #ffc9ff 0, #ffc0ff 12.5%, #ffb6ff 25%, #ffabff 37.5%, #f29df2 50%, #cd8fdf 62.5%, #ad83cd 75%, #9278bc 87.5%, #7a6fae 100%);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

form {
    width: 350px;
    margin: 20px auto;
    padding: 10px;
    font-family: 'poppins';
}

form div {
    margin-top: 15px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    background-color: #dfdede;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    resize: none;
}

input:hover, 
select:hover, 
textarea:hover {
    background-color: white;
}

button {
    background-color: rgb(11, 11, 11);
    color: white;
    padding: 6px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
    position: static;
    display: block;
    margin-left: 250px;
}

button:hover {
    background-color: #ff4500;
}